[submodule "third_party/lvgl"]
	path = third_party/lvgl
	url = https://github.com/mariotaku/lvgl.git
[submodule "third_party/IronRDP"]
	path = third_party/IronRDP
	url = https://github.com/truebest/IronRDP.git
	branch = release/lgnome-0.5.4
[submodule "third_party/miniaudio"]
	path = third_party/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "backend_ndl"]
	path = third_party/backend_ndl
	url = https://github.com/truebest/backend_ndl.git
